h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, li {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

img {
	display: block;
	max-width: 100%;
    height: auto;
}

.header-container {
     display: flex;
    margin: 0 auto;
    align-items: center;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-style: bold;
    background-color: #FFFFFF;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    text-decoration: none;
}

.logo-span {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-style: bold;
    background-color: #FFFFFF;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.nav-list {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-style: medium;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
}

.link:hover, .link:focus {
    color: #404BBF;
}

.link-one {
    display: block;
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0;
}

.link-one::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

.link {
    display: block;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #434455;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover, .address-link:focus {
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
    padding-bottom: 188px;
    padding-top: 188px;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/background-hero.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    color: #FFFFFF;
    font-style: bold;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
}

.button {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    font-style: medium;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
    background-color: #404BBF;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.benefits-section {
    padding: 120px 0;
    display: flex;
}

.benefits {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: solid 1px #8e8f99;
    margin-bottom: 8px;
}

.benefits-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    letter-spacing: 0.02em;
}

.benefits-title {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #2E2F42;
    font-style: medium;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team {
    background-color: #F4F4FD;
    padding: 120px 0
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-social-li {
    width: 40px;
    height: 40px;
}

.team-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
}

.team-social-link:hover, 
.team-social-link:focus {
    background-color: #404BBF;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2E2F42;
    font-style: bold;
    background-color: #F4F4FD;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-li {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);;
}

.icons-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link:hover,
.icons-link:focus {
    background-color: #404bbf;
}

.team-div {
    padding: 32px 0;
}

.team-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #2E2F42;
    font-style: medium;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-section {
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 120px;
    padding-top: 120px;
}

.portfolio {
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2E2F42;
    font-style: bold;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
}

.portfolio-li {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-div-text {
    border: 1px solid #e7e9fc;
    border-top: none;
    text-align: left;
    padding: 32px 16px
}

.portfolio-title {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    font-style: medium;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
}

.box-overly {
    position: relative;
    overflow: hidden;
}

.overly {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-li:hover .overly,
.portfolio-li:focus .overly {
    transform: translateY(0);
}

.portfolio-li:hover,
.portfolio-li:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo-container {
    margin-right: 120px;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    background-color: #2E2F42;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-style: bold;
    background-color: #2E2F42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
    text-decoration: none;
}

.footer-logo-span {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-style: bold;
    background-color: #2E2F42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-media {
    color: #FFFFFF;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
  margin-bottom: 16px;
}

.icon-ul {
    display: flex;
    gap: 16px;
}

.icon-li a {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-li a:hover,
.icon-li a:focus {
background-color: #31d0aa;
}

.icons {
    fill: #F4F4FD;
}

.form-svg {
    fill: #FFFFFF;
}

.form-footer-div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 80px;
}

.label-footer-div {
    display: flex;
    gap: 24px;
}

.input-footer {
    width: 264px;
    height: 40px;
    background-color: #2E2F42;
    border: inset 1px #FFFFFF;
    border-radius: 4px;
    padding-left: 16px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
    line-height: 24px;
    font-size: 12px;
    color: #FFFFFF;
}

.input-footer:hover, .input-footer:focus {
    border-color: #31d0aa;
}

.input-footer::placeholder-shown {
    border-color: #31d0aa;
}

.input-footer::placeholder {
    color: #FFFFFF;
}

.button-footer {
    display: flex;
    width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    font-style: medium;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.button-footer:hover, .button-footer:focus {
    background-color: #31d0aa;
}

.svg-footer {
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

.subscribe {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    line-height: 24px;
    color: #FFFFFF;
    font-size: 16px;
    font-style: medium;
    font-weight: 500;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: #fcfcfc;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    max-width: 408px;
    min-height: 584px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
}

.modal-close:hover,
.modal-close:focus {
background-color: #404BBF;
border: none;
}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay .modal-close:hover,
.modal-overlay .modal-close:focus {
    fill: #FFFFFF;
}

.modal-title {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
    font-style: medium;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    font-weight: 500;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

.modal-label {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.17;
    color: #8E8F99;
    letter-spacing: 0.04em;
    text-align: left;
    display: block;
    margin-bottom: 4px;
}

.modal-input {
    width: 360px;
    height: 58px;
    border: 1px solid #2E2F42;
    border-radius: 4px;
    padding-left: 16px;;
    color: #2E2F42;
}

.modal-input a:hover , .modal-input a:focus {
    border-color: #4D5AE5;
}

.modal-button {
    width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    font-style: medium;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}